max v2;#N vpatcher 274 228 668 467;#P toggle 30 102 15 0;#P newex 23 192 63 9 gem.gemwin;#P newex 256 99 65 9 gem.gemhead;#P message 83 63 36 9 create;#P message 84 92 42 9 destroy;#P message 88 157 60 9 lighting 1;#P newex 178 89 75 9 gem.gemhead 1;#P newex 256 161 101 9 gem.model venus.obj;#P newex 88 123 48 9 loadbang;#P newex 178 164 62 9 gem.camera;#P comment 59 37 176 9 move the camera instead of the model;#P message 208 125 36 9 0 0 -4;#P connect 8 0 10 0;#P connect 7 0 10 0;#P connect 6 0 10 0;#P connect 11 0 10 0;#P connect 3 0 6 0;#P connect 5 0 2 0;#P connect 0 0 2 2;#P connect 9 0 4 0;#P pop;